
form.box{
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	width: 240px;
}

form.boxSignup{
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	width: 300px;
}

input{
	align= right;
}

#message{
	font-style: italic;
}

#nav{
	width: 240px;
	top: 0px;
}

#nav.td{
	min-width: 80px;
}

body{
	background-color: #B0E0E6;
}

a:link{
	text-decoration: none;
	color: #000000;
	width: auto;
	background-color: #DFDFDF;
	display: block;
	border-radius: 1px;
	padding: 1px;
	height: 20px;
	text-align: center;
}


a:visited{
	text-decoration: none;
	color: #000000;
	width: auto;
	background-color: #DFDFDF;
	display: block;
	border-radius: 1px;
	padding: 1px;
	height: 20px;
	text-align: center;
}

a:hover{
	text-decoration: none;
	color: #000000;
	width: auto;
	background-color: #DFDFDF;
	display: block;
	border-radius: 1px;
	padding: 1px;
	height: 20px;
	text-align: center;
}

a:active{
	text-decoration: none;
	color: #000000;
	width: auto;
	background-color: #DFDFDF;
	display: block;
	border-radius: 1px;
	padding: 1px;
	height: 20px;
	text-align: center;
}

#logout{
	position: absolute;
	top:20px;
	right:50px;
	width:200px;
}